
.headder{
    background-color:#FFFAFA;
    border: none;
}
.manu{
  position: relative;
  overflow: hidden;
 
  background-color: rgb(0, 0, 0);
}
.manu a{ 
float: left;
color:#ffffff;
text-align: center;
padding: 20px 7.82%;
text-decoration: none;
transition-duration: 0.5s;
}
.manu a:hover {
background-color:#dad8d8;
color:rgb(0, 0, 0);
transition-duration: 0.5s;
}



 {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.text {
  color: #979797;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}





* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(175, 175, 175, 0.8);
}


.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #000000;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: rgb(179, 177, 177);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.topnav {
  position: relative;
  overflow: hidden;
 
  
}

.topnav a {
  float: left;
  color:#000000;
  text-align: center;
  padding: 2px 30px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.5s;
}

.topnav a:hover {
  background-color:#00d9ff;
  color: rgba(107, 0, 156, 0.89);
  transition-duration: 0.5s;
}


  
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.section_2{
  background-color: rgb(0, 54, 6);
  box-shadow: 0 8px 4px 0 rgba(253, 252, 252, 0.877);
  
}
.container{
  opacity: 1.0;
     margin: auto;
   width: 80%;
 
 }
 .centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .text-center{
     text-align: center;
 }
